<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="John Tech"> 
	<link rel="Icon" type="image/png" href="./img/jt.png">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
	<title>John Technologies Blog</title>


</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light p-md-1">
			<div class="container">
				<a class="navbar-brand" href="./index.html">
					<img src="./img/jj22.png" alt="">	
				</a>
				<button
				 type="button"
				 class="navbar-toggler"  
				 data-bs-target="#navbarNav" 
				 data-bs-toggle="collapse"  
				 aria-controls="navbarNav" 
				 aria-expanded="false" 
				 aria-label="Toggle Navbar"
				>
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="mx-auto"></div>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a  href="./works.html" class="nav-link text-dark">works</a>
						</li>
						<li class="nav-item">
							<a  href="./blog.html" class="nav-link text-dark">blog</a>
						</li>
						<li class="nav-item">
							<a  href="./contact.html" class="nav-link text-dark">contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
		

	<section class="p_second">
		<div class="p_second_top">
			<h1>Blog</h1>
		</div>
		<div class="p_second_boxs">
			<div>
				<h1>Jonson Ukrainadagi urush cho‘zilishiga tayyorlanishga chaqirdi</h1>
				<h2>15 June 2022 &nbsp; &#10072; &nbsp; Ukrain, Urush</h2>
				<p>
					Buyuk Britaniya qurolli kuchlari bosh shtabiga iyun oyidan rahbar bo‘lgan general Patrik Sanders britan harbiylari Yevropadagi yangi urushga tayyor turishi kerakligini aytdi. U bu haqda o‘z qo‘li ostidagilarga yo‘llagan maktubida yozgan, undan parchalar The Independent va The Guardian gazetalarida e’lon qilingan.
				</p>
			</div>
			<hr>
			<div>
				<h1>Osiyo kubogi U-23: Saudiya Arabistoni O‘zbekistonni mag‘lub qilib, chempionlikni qo‘lga kiritdi</h1>
				<h2>19 June 2022 &nbsp; &#10072; &nbsp; Sport, U-23</h2>
				<p>
					Osiyo kubogi U-23: Saudiya Arabistoni O‘zbekistonni mag‘lub qilib, chempionlikni qo‘lga kiritdi 
					Bugun, 19 iyun kuni Toshkentdagi "Bunyodkor" stadionida o‘tgan Osiyo kubogi U-23 ning final uchrashuvida O‘zbekiston terma jamoasi Saudiya Arabistoni termasiga qarshi maydonga tushdi.
				</p>
			</div>
			<hr>
			<div>
				<h1>Ertaga havo harorati keskin tushishi kutilmoqda</h1>
				<h2>20 June 2022 &nbsp; &#10072; &nbsp; ob-havo, Tashkent</h2>
				<p>
					Gidrometeorologiya xizmati markazi ertaga, 20 iyun kuni O‘zbekistonda kuzatiladigan ob-havo haqida ma’lumot berdi.
					Toshkent shahrida havo biroz bulutli bo‘ladi, vaqti-vaqti bilan yomg‘ir yog‘adi, momaqaldiroq bo‘lishi mumkin. Shamol sharqdan 5-10 m/s tezlikda esadi. 12-17 m/s gacha kuchayishi mumkin. Harorat kechasi 20-22 daraja, kunduzi 24-26 daraja bo‘ladi.	
				</p>
			</div>
			<hr>
			<div>
				<h1>Yevropaning uch yirik davlati jaziramadan yonishi mumkin</h1>
				<h2>14 June 2022 &nbsp; &#10072; &nbsp; Yevropa, Olov</h2>
				<p>
					Ispaniyaning salmoqli qismi, Fransiyadagi Ron vodiysi va Italiyaning materik bir qismida O‘rtayer dengizi g‘arbiy qismidagi jazirama to‘lqinlar tufayli yong‘in xavfi yuqori darajaga yetdi. Bu haqda “Associated Press” Yevropa meteorologlariga tayanib xabar berdi	
				</p>
			</div>
			<hr>
			<div>
				<h1>Jonson Ukrainadagi urush cho‘zilishiga tayyorlanishga chaqirdi</h1>
				<h2>15 June 2022 &nbsp; &#10072; &nbsp; Ukrain, Urush</h2>
				<p>
					Buyuk Britaniya qurolli kuchlari bosh shtabiga iyun oyidan rahbar bo‘lgan general Patrik Sanders britan harbiylari Yevropadagi yangi urushga tayyor turishi kerakligini aytdi. U bu haqda o‘z qo‘li ostidagilarga yo‘llagan maktubida yozgan, undan parchalar The Independent va The Guardian gazetalarida e’lon qilingan.
					Buyuk Britaniya qurolli kuchlari bosh shtabiga iyun oyidan rahbar bo‘lgan general Patrik Sanders britan harbiylari Yevropadagi yangi urushga tayyor turishi kerakligini aytdi. U bu haqda o‘z qo‘li ostidagilarga yo‘llagan maktubida yozgan, undan parchalar The Independent va The Guardian gazetalarida e’lon qilingan.
				</p>
			</div>
			<hr>
			<div>
				<h1>Osiyo kubogi U-23: Saudiya Arabistoni O‘zbekistonni mag‘lub qilib, chempionlikni qo‘lga kiritdi</h1>
				<h2>19 June 2022 &nbsp; &#10072; &nbsp; Sport, U-23</h2>
				<p>
					Osiyo kubogi U-23: Saudiya Arabistoni O‘zbekistonni mag‘lub qilib, chempionlikni qo‘lga kiritdi 
					Bugun, 19 iyun kuni Toshkentdagi "Bunyodkor" stadionida o‘tgan Osiyo kubogi U-23 ning final uchrashuvida O‘zbekiston terma jamoasi Saudiya Arabistoni termasiga qarshi maydonga tushdi.
					Osiyo kubogi U-23: Saudiya Arabistoni O‘zbekistonni mag‘lub qilib, chempionlikni qo‘lga kiritdi 
					Bugun, 19 iyun kuni Toshkentdagi "Bunyodkor" stadionida o‘tgan Osiyo kubogi U-23 ning final uchrashuvida O‘zbekiston terma jamoasi Saudiya Arabistoni termasiga qarshi maydonga tushdi.
				</p>
			</div>
			<hr>
			<div>
				<h1>Ertaga havo harorati keskin tushishi kutilmoqda</h1>
				<h2>20 June 2022 &nbsp; &#10072; &nbsp; ob-havo, Tashkent</h2>
				<p>
					Gidrometeorologiya xizmati markazi ertaga, 20 iyun kuni O‘zbekistonda kuzatiladigan ob-havo haqida ma’lumot berdi.
					Toshkent shahrida havo biroz bulutli bo‘ladi, vaqti-vaqti bilan yomg‘ir yog‘adi, momaqaldiroq bo‘lishi mumkin. Shamol sharqdan 5-10 m/s tezlikda esadi. 12-17 m/s gacha kuchayishi mumkin. Harorat kechasi 20-22 daraja, kunduzi 24-26 daraja bo‘ladi.	
				</p>
			</div>
			<hr>
			<div>
				<h1>Yevropaning uch yirik davlati jaziramadan yonishi mumkin</h1>
				<h2>14 June 2022 &nbsp; &#10072; &nbsp; Yevropa, Olov</h2>
				<p>
					Ispaniyaning salmoqli qismi, Fransiyadagi Ron vodiysi va Italiyaning materik bir qismida O‘rtayer dengizi g‘arbiy qismidagi jazirama to‘lqinlar tufayli yong‘in xavfi yuqori darajaga yetdi. Bu haqda “Associated Press” Yevropa meteorologlariga tayanib xabar berdi	
				</p>
			</div>
			<hr>
		</div>
	</section> <!--end section 2-->
	
	<footer>
		<div class="f_icons">
			<i class="fa-brands fa-facebook-square"></i>
			<i class="fa-brands fa-instagram-square"></i>
			<i class="fa-brands fa-twitter-square"></i>
			<i class="fa-brands fa-linkedin"></i>
		</div>
		<p>
			Copyright &#169;2022 All rights reserved 
		</p>
	</footer>


	<script src="./bootstrap/js/bootstrap.bundle.js"></script>

	<script>
		var nav = document.querySelector('nav');

		window.addEventListener('scroll', function () {
			if (window.pageYOffset > 100) {
			  nav.classList.add('bg-light','shadow');
			} else {
			  nav.classList.remove('bg-light','shadow');
			}
		});
	</script>

</body>
</html>