<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="John Tech"> 
	<link rel="Icon" type="image/png" href="./img/jt.png">
	<link rel="stylesheet" href="./css/style.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
	<title>John Technologies contact</title>


</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light p-md-1">
			<div class="container">
				<a class="navbar-brand" href="./index.html">
					<img src="./img/jj22.png" alt="">	
				</a>
				<button
				 type="button"
				 class="navbar-toggler"  
				 data-bs-target="#navbarNav" 
				 data-bs-toggle="collapse"  
				 aria-controls="navbarNav" 
				 aria-expanded="false" 
				 aria-label="Toggle Navbar"
				>
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="mx-auto"></div>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a  href="./works.html" class="nav-link text-dark">works</a>
						</li>
						<li class="nav-item">
							<a  href="./blog.html" class="nav-link text-dark">blog</a>
						</li>
						<li class="nav-item">
							<a  href="./contact.html" class="nav-link text-dark">contact</a>
						</li>					
					</ul>
				</div>
			</div>
		</nav>

	<section class="h_contact" id="h_contact">
		<div class="content">
			<h1>contact informations</h1>
			<p>
				Lorem ipsum dolor sit amet consectetur adipisicing elit. <br> Quos, iusto in reprehenderit vitae animi cumque quisquam nihil temporibus eligendi molestias aliquid dolor. <br> Mollitia, alias soluta.
			</p>
		</div>
		<div class="h_container">
			<div class="h_contact_info">
				<div class="box">
					<div class="icon"><i class="fa-solid fa-phone"></i></div>
					<div class="text">
						<h1>Phone number</h1>
						<a href="tel:+998330087078">+998 33 0087 087</a>
					</div>
				</div>
				<div class="box">
					<div class="icon"><i class="fa-solid fa-envelope"></i></div>
					<div class="text">
						<h1>Email Address</h1>
						<a href="mailto:jackodilov@gmail.com">jackodilov@gmail.com</a>
					</div>
				</div>
				<div class="box">
					<div class="icon"><i class="fa-solid fa-phone"></i></div>
					<div class="text">
						<h1>Fax Address</h1>
						<p>+9999 9087 123</p>
					</div>
				</div>
				<div class="box">
					<div class="icon"><i class="fa-solid fa-location-dot"></i></div>
					<div class="text">
						<h1>Location</h1>
						<p>123 Business Avenue, NYC</p>
					</div>
				</div>
			</div>
			<div class="contact_form">
				<h2>Send Massage</h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis provident delt epturi placeat deleniti natus!
					</p>
					<form>
						<div class="inputbox">
							<input type="text" required="required" >
							<span>Your Name</span>
						</div>
						<div class="inputbox">
							<input type="text" required="required">
							<span>Phone</span>
						</div>
						<div class="inputbox">
							<input type="email" required="required" >
							<span>Email</span>
						</div>
						<div class="inputbox">
							<input type="text" required="required" >
							<span>Subject</span>
						</div>
						<div class="inputbox">
							<textarea required rows="5"></textarea>
							<span>Type your message...</span>
						</div>
						<div class="inputbox">
							<input type="submit"  value="Send Message">
						</div>
							<!-- <button type="submit">Send message</button> -->
					</form>		
			</div>
		</div>
	</section>  <!-- end section 2-->

	<section class="trusted">
		<h1>TRUSTED BY</h1>
		<div class="trusted_img">
			<img src="./img/11.png" alt="">
			<img src="./img/22.png" alt="">
			<img src="./img/33.png" alt="">
			<img src="./img/44.png" alt="">
		</div>
	</section> <!--trusted end-->

	<section class="map">
		<h1>Find Us on Google Maps</h1>
		<p>
			Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur, quasi.
		</p>
		<div class="container">
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4854.739479809165!2d69.20180203066552!3d41.352178770091406!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x38ae8d4a0dce8309%3A0x43e0a115d4b09d1a!2sBobir%20Akilkhanov%20Tech%20Academy!5e0!3m2!1sru!2s!4v1655645544613!5m2!1sru!2s" width="70%" height="450" style="border:0;" allowfullscreen="false" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</div>
		
	</section> <!--end map section-->
		
	<footer>
		<div class="f_icons">
			<i class="fa-brands fa-facebook-square"></i>
			<i class="fa-brands fa-instagram-square"></i>
			<i class="fa-brands fa-twitter-square"></i>
			<i class="fa-brands fa-linkedin"></i>
		</div>
		<p>
			Copyright &#169;2022 All rights reserved 
		</p>
	</footer>


	<script src="./bootstrap/js/bootstrap.bundle.js"></script>

	<script>
		var nav = document.querySelector('nav');

		window.addEventListener('scroll', function () {
			if (window.pageYOffset > 100) {
			  nav.classList.add('bg-light','shadow');
			} else {
			  nav.classList.remove('bg-light','shadow');
			}
		});
	</script>

</body>
</html>