<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="./css/style.css">
	<meta name="author" content="John Tech"> 
	<link rel="Icon" type="image/png" href="./img/jt.png">
	<link rel="stylesheet" href="./slick/slick/slick.css">
	<link rel="stylesheet" href="./slick/slick/slick-theme.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
	<link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
	<title>John Technologies works</title>


</head>
<body>
	<header>
		<nav class="navbar navbar-expand-lg navbar-light p-md-1">
			<div class="container">
				<a class="navbar-brand" href="./index.html">
					<img src="./img/jj22.png" alt="">	
				</a>
				<button
				 type="button"
				 class="navbar-toggler"  
				 data-bs-target="#navbarNav" 
				 data-bs-toggle="collapse"  
				 aria-controls="navbarNav" 
				 aria-expanded="false" 
				 aria-label="Toggle Navbar"
				>
				<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarNav">
					<div class="mx-auto"></div>
					<ul class="navbar-nav">
						<li class="nav-item">
							<a  href="./works.html" class="nav-link text-dark">works</a>
						</li>
						<li class="nav-item">
							<a  href="./blog.html" class="nav-link text-dark">blog</a>
						</li>
						<li class="nav-item">
							<a  href="./contact.html" class="nav-link text-dark">contact</a>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	
	<section class="h_in_works">
		<div class="h_works">
			<h1>
				Designing Dashboards with <br> usability in mind
			</h1>
			<div>
				<div class="boks">
					<span>2022</span>
				</div>
				<h3>
					Dashboard, User Experience Design
				</h3>
			</div>
			<p>
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia <br> consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
			</p>
			<div class="imagess">
				<img src="./img/Rectangle 4.png" alt="">
			</div>
		</div>
		<div class="h_w_text">
			<h1>
				Heading 1
			</h1>
			<h2>
				Heading 2
			</h2>
			<p>
				Amet minim mollit non deserunt ullamco est sit aliqua dolor do amet sint. Velit officia consequat duis enim velit mollit. Exercitation veniam consequat sunt nostrud amet.
			</p>
		</div>
		<div class="imagess">
			<img src="./img/Rectangle 5.svg" alt="">
		</div>
		<div class="imagess">
			<img src="./img/Rectangle 6.svg" alt="">
		</div>
		
		
</section>



	<footer>
		<div class="f_icons">
			<i class="fa-brands fa-facebook-square"></i>
			<i class="fa-brands fa-instagram-square"></i>
			<i class="fa-brands fa-twitter-square"></i>
			<i class="fa-brands fa-linkedin"></i>
		</div>
		<p>
			Copyright &#169;2022 All rights reserved 
		</p>
	</footer>


	<script src="./bootstrap/js/jquery-3.6.0.min.js"></script>
	<script src="./slick/slick/slick.js"></script>
	<script src="./bootstrap/js/bootstrap.bundle.js"></script>

	
	<script>
		var nav = document.querySelector('nav');

		window.addEventListener('scroll', function () {
			if (window.pageYOffset > 100) {
			  nav.classList.add('bg-light','shadow');
			} else {
			  nav.classList.remove('bg-light','shadow');
			}
		});
	</script>

	
</body>
</html>